.purchase-card {
  border: 1px solid #5b4dee;
  border-radius: 45px;
  padding: 16px;
  background-color: #fdfdfd;
  transition: box-shadow 0.2s ease;
}

.purchase-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.purchase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-summary p {
  margin: 4px 0;
  color: #444;
  font-size: 0.95rem;
}

.toggle-details {
  background: none;
  border: 1px solid #5b4dee;
  color: #5b4dee;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
  border-radius: 999px;
  padding: 6px 12px;
}

.toggle-details:hover {
  color: #ffff;
  background-color: #5b4dee;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  list-style: none;
  border-left: 1px solid rgba(79, 70, 229, 0.2);
  border-right: 1px solid rgba(79, 70, 229, 0.2);
}

ul:has(> li:only-child) {
  border: none;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  border-right: 1px dashed rgba(99, 102, 241, 0.3);
  transition: background 0.2s ease;
}

li:nth-child(n+1):nth-last-child(-n+1),
li:last-child {
  border-right: none;
}

.purchase-details-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.purchase-details-wrapper.show {
  max-height: 1000px;
}

.purchase-details {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  
}

.item-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #f1f1f1;
  transition: transform 0.6s ease;
}

.item-info img:hover {
  cursor: pointer;
  transform: scale(1.1) translateY(-4px);
  box-shadow: 0 8px 16px rgb(128, 118, 240)
}

.item-text p {
  margin: 2px 6px;
  font-size: 0.95rem;
  color: #444;
}

.purchase-extra {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #333;
}