.shipment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #7b50fd;
    border-radius: 20px;
    background: #faf8ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-width: 40rem;
    min-height: 36rem;
}

.shipment-card {
    min-height: 260px;
}

.sale-card {
    border-top: 1px solid #e5e0ff;
    padding-top: 30px;
    margin: 0 1em;
}