<div class="shipment-card">
    <div class="shipment-details">
        @if (isAdmin) {
            <select 
                class="status-dropdown"
                [ngClass]="getStatusClass(shipment.status)"
                [(ngModel)]="shipment.status"
                (ngModelChange)="updateStatus(shipment.status)">

                <option value="PENDING">{{ getStatusLabel('PENDING') }}</option>
                <option value="PROCESSING">{{ getStatusLabel('PROCESSING') }}</option>
                <option value="SHIPPED">{{ getStatusLabel('SHIPPED') }}</option>
                <option value="DELIVERED">{{ getStatusLabel('DELIVERED') }}</option>
                <option value="CANCELLED">{{ getStatusLabel('CANCELLED') }}</option>
                <option value="RETURNED">{{ getStatusLabel('RETURNED') }}</option>
            </select>
        }@else {
            <div [ngClass]="getStatusClass(shipment.status)">
                <p>{{ getStatusLabel(shipment.status) }}</p>
            </div>
        }

        <div class="data-container">
            <p>Fecha de inicio: {{shipment.startDate}} </p>

            @if (shipment.endDate) {
                <p>Fecha de finalización: {{shipment.endDate}} </p>
            }

            @if (shipment.pickup) {
                <p>Se retira en el local</p>
            }@else {
                <p class="scroll-text">
                    Dirección: 
                    {{ shipment.street }} {{ shipment.number }}, 
                    {{ shipment.city }}, 
                    {{ shipment.zip }} 
                </p>
            }

            <p class="scroll-text" id="notes">{{ shipment.notes }} </p>

        </div>
    </div>

</div>
